*{
  margin:0;
  padding:0;
}

h1 {
  font-size: 4rem;
  color: rgb(94, 15, 15);
  background-color: linear-gradient(to bottom, rgba(105,60,52,0.8), rgba(0,0,0,0)90%);
  padding: 3rem;
  text-align: center;
  margin: 0;
  font-family: "wendell";
  text-transform: uppercase;
  border-bottom: 0.1rem solid #fff;
  text-shadow: 3px 3px 5px rgba(105,60,52,0.8);
}

nav > ul {
  margin: 0;
  padding: 0;
}

nav > ul > li {
  float: left;
  position: relative;
  font-family: "wendell";
  padding: 1rem 3rem;
  color: white;
  font-size: 2rem;
}

nav li {
  list-style-type: none;
}

.submenu {
  display: none;
}

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 1;
}

nav {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(105,60,52,1), rgba(0,0,0,0)90%);
  padding-left: 1rem;
  padding-right: 1rem;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

.submenu li {
  border-bottom: 0.1rem solid #fff;
  background-color: rgba();
  font-family: "selectric";
}

.submenu li a {
  padding: 1rem 3rem;
  font-size: 1rem;
  color:#fff;
  text-decoration: none;
}

.active, .btn:hover {
  background-color: rgb(105,60,52);
}

body {
  margin-top: 0;
  background-image:url("background.jpg");
  background-repeat: initial;
  background-size: 100%;
}

#montre {
  float: right;
  margin-right: 2%;
}

#montre p {
  font-size: 4rem;
}

#slide {
  display: flex;
  width: 50%;
  height: 30rem;
  position: center;
  border: 1rem solid white;
  margin: 5rem auto;
}

article {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

section img {
  height: 15rem;
  width: 15rem;
  float: left;
  margin-left: 5rem;
}

h2 {
  font-family: "wendell";
  font-size: 4rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  text-shadow: 2px 2px 4px rgba(105,60,52,0.8);
}

h3 {
  font-family: "wendell";
  font-size: 2.5rem;
  padding-left: 7rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(105,60,52,0.8);
}

p {
	line-height: 1.4rem;
  text-align: justify;
  font-family: "selectric";
  font-size: 1.5rem;
  padding: 0 5rem;
}

form {
font-family: "selectric";
padding: 2rem 5rem;
}

form section {
padding: 2rem;
}

section p:first-of-type:first-letter {
  float:left;
  font-size: 4em;
  padding: 0.2em 0.05em 0.1em 0.5em;
}


@font-face{
  font-family: "wendell";
  src: url(Wendell_v1.ttf);
}

@font-face{
  font-family: "selectric";
  src: url(Selectric_Script.ttf)
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 30rem;
  height: 30rem;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

